
  th {
    padding: 10px;
    border: none;
    border-bottom: 2px solid;
    margin-right: 50px;
    font-size: 2rem;

  }
  td {
    padding: 10px;
    border: none;
    border-bottom: 2px solid;
    margin-right: 50px;
    font-size: 1.5rem;
  }
  

  
.title {
    font-size: 3rem;   
  }

.todays-data {
    font-size: 2rem;   
  }


  .todays-weather {
    line-height: 3rem;;
  }